@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cloud background */
.clouds {
  background: url("https://i.ibb.co/QH7P8gW/clouds.png"); /* transparent PNG */
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: contain;
  animation: moveClouds 60s linear infinite;
  opacity: 0.4;
}

@keyframes moveClouds {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
